@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap');

:root {
    --color-1: #ffffc1;
    --color-2: #ffd2a5;
    --color-3: #d38cad;
    --color-4: #8a79af;
    --font-1: 'Quicksand', sans-serif;
    --font-2: 'Raleway', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-3);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top, #d38cad, #c386af, #b281b1, #9f7db1, #8a79af);
}

.header > h1 {
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 6.2vh;
    text-shadow: 0px 1px 6px rgba(255,210,165,0.35);
}

.header > h3 {
    color: var(--color-2);
    font-family: var(--font-2);
    font-weight: lighter;
    font-size: 2.3vh;
    text-shadow: 0px 1px 6px rgba(255,210,165,0.3);
}

.header > hr {
    width: 40vw;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000);
    background-image: -moz-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000);
    background-image: -ms-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000);
    background-image: -o-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000); 
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; 
    align-content: space-around;  
    background-image: linear-gradient(to top, #ffffc1, #fff4b8, #ffe8b0, #ffddaa, #ffd2a5);
    margin: 0 5vw;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 6px 1px #8a79af; 
    box-shadow: 0px 3px 6px 1px #8a79af;
    height: 90vh;
    padding: 5vh 0;
}

.item {
    background: white;     
    border-radius: 0px 21px;    
    width: 25vw;
    padding: 50px;  
    height: 25vh; 
    -webkit-box-shadow: 0px 3px 6px 1px #ffd2a5; 
    box-shadow: 0px 3px 6px 1px #ffd2a5;  
    color: #202020;
    font-family: var(--font-2);
}

.item > p {
    font-family: var(--font-1);
    font-size: 2.3vh;
    color: var(--color-4);
    font-weight: bolder;
}

.footer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to top, #8a79af, #9f7db1, #b281b1, #c386af, #d38cad);
}

.footer > h3 {
    color: var(--color-2);
    font-family: var(--font-2);
    font-weight: lighter;
    font-size: 2.3vh;
    text-shadow: 0px 1px 6px rgba(255,210,165,0.3);
}

hr {
    width: 80vw;
    border: 0; 
    height: 1px; 
    margin: 5vw 10vw 2vw;
    align-self: center;
    background-image: -webkit-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000);
    background-image: -moz-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000);
    background-image: -ms-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000);
    background-image: -o-linear-gradient(left, #f0f0f000, #ffd2a570, #f0f0f000); 
}