body {
    background: #032F40;
    color: white;
    height: 80vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    background: rgb(6, 93, 128);
    color: white;
    margin: 20px;
    padding: 50px;
    border-radius: 30px;
    height: 1000px;
    width:80%;
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; 
    align-content: space-around;  
}

.item {
    background: #032F40;     
    border-radius: 0px 21px;    
    width: 50vh;
    margin: 25px;
    padding: 20px;  
    height: 250px;    
}